@charset "UTF-8"; 

.back-img-home {
    position: absolute;
    top: 0%;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1; /* places back my attributes (ie: lines/h1) */
}

/* connecting div-navList in htmls to css file */
.navbar {
    position: absolute;
    top: 0%;
    width: 100%;
    left: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    font: sans-serif;
}

.navbar ul li { 
    padding: 10px 14px;
    list-style-type: none;
    display: inline-block;
    margin-left: 100px;
}

.navbar ul li a {
    padding: 10px 14px;
    color: rgb(128, 142, 219);
    font-size: 15px;
    text-decoration: none;
    display: inline-block; /* keeps text in space even when hovering  */
}

.navbar a:hover {
    background-color: rgba(217, 209, 255, 0.548);
    color: rgb(255, 255, 255);
}

/* home page */
headerhome .home-text {
    margin-top: 100px;
    margin-bottom: 15px;
    color: rgb(128, 142, 219);
}


/* affecting h1 portion of header */
headerhome .home-text h1 {
    text-align: center;
    text-decoration-line: none;
    font-size: 35px;
    margin-top: 0;
    font: serif;
}

section {
    width: 70%;
    margin: 70px auto;
    color: whitesmoke;
    font: serif;
}

.section-two {
    max-width: 1200px;
    margin: 70px auto;
    text-align: center;
    color: whitesmoke;
}

.rows {
    display: flex; /* align columns */
    justify-content: space-between;
    margin-top: 30px;
}

.column {
    flex: 1; /* item grows to available space with value:1 of flex */
    padding: 20px;
}

.column img {
    width: 100%;
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto; /* removes default paragraph margin */
}

/* extra details to webpage */
/* line vert-line css conntected to html */
.vert-line-container {
    display: flex;
    align-items: center; /* vertical alignment of text */
    justify-content: center; /* horizontal alignment */
}

.vert-line {
    border-left: 3px solid rgb(255, 255, 255);
    height: 400px;
    border-right: 3px solid rgb(255, 255, 255);
    height: 400px; 
    border-radius:30px; /* create curved element on the line */
}

.vert-line-text {
    text-align: center;
    color: white;
    font: serif;
    font-size: 16px;
    max-width: 200px; 
}

.vert-line-text {
    margin: 0;
    padding: 0 20px; /* two parameters of padding (top/bottom & left/right) */
}

bodyhome { 
    margin: 0; 
}

headerabout .about-text h1{
    text-align: center;
    text-decoration-line: none;
    font-size: 35px;
    margin-top: 90px;
    font: serif;
}

